doctype html
html(lang="en")
    include modules/head
    title ShaareyTzedek
    body
        .header.btn-black
            include modules/header
        .wrapper.wrapper-oth-p
            
            h1.block__naming О НАС
            
            .line-under-naming
            
            h2.block__naming ЦЕНТР СОЦИАЛЬНОГО ОБЕСПЕЧЕНИЯ «ШААРЕЙ ЦЕДЕК»
            
            p.block_description «Шаарей цедек» – это уникальная благотворительная организация, созданная для помощи еврейскому населению Москвы. На данный момент «Шаарей цедек» – самый крупный центр, среди функционирующих в СНГ. Хесед «Шаарей цедек» был создан и работает при поддержке «Джойнт» ‒ ведущей еврейской гуманитарной организации, которая уже больше тридцати лет помогает нуждающимся евреям и развивает еврейскую жизнь в странах бывшего Советского Союза.
            p.block_description Направления деятельности Центра весьма многообразны. Это оказание материальной, психологической, духовной, реабилитационной и других видов поддержки всем, кто в ней нуждается: пожилым людям, инвалидам, многодетным семьям, семьям с тяжело больными детьми, адресная помощь людям, оказавшимся в кризисной ситуации. Фраза «Все евреи ответственны друг за друга», взятая из Талмуда и являющаяся девизом деятельности Американского еврейского распределительного комитета «Джойнт», в полной мере относится и ко всей деятельности нашего благотворительного Центра. Еврейские мудрецы указывают на ответственность перед Небесами друг за друга и важная миссия»Шаарей цедек» в том, чтобы помочь не одному, а как можно большему количеству людей.
            p.block_description Существует неверное мнение, что в большинстве случаев подопечные Центра могут сами справиться со своими проблемами. Людское безразличие, людская жестокость для многих становятся непреодолимым препятствием на пути благотворительности. Запечатленные в Торе заповеди Творца призывают нас заботиться о слабых. Именно ради этого и создан наш Центр, название которого можно перевести на русский язык как «Врата справедливости».
            p.block_description Работа Центра нацелена на оптимальные, действенные способы поддержки и реабилитации, построена на оказании как можно более разнообразных видов помощи наиболее незащищенной части еврейского населения (одинокие, инвалиды, пожилые, малоимущие). Мы стремимся, чтобы деятельность Центра была эффективной и реальной. Один из основополагающих принципов работы — адресность финансирования, реализуемая за счет проверки степени нуждаемости подопечных в определенных видах услуг с помощью определенных критериев.
            p.block_description С еврейской точки зрения, помощь слабым — не милостыня и не благородство, но одно из проявлений справедливости: Б-г сделал некоторых из нас сильными для того, чтобы они помогали тем, кто слабее.
            p.block_description Программы и службы Центра социального обеспечения»Шаарей цедек» призваны оказывать разностороннюю помощь, направленную на улучшение качества жизни своих подопечных, на их интеграцию в еврейскую общину — в духе национальной истории и традиций и  возрождении исторических ценностей.
            
            h2.block__naming ФОТОГАФИИ ЦЕНТРА

            .block__photos
                .photos__wrapper
                    .container
                        .photos__item.first-img
                            a(href="./img/1.png", data-fancybox="gallery", data-caption="Caption #1") 
                                img(src="./img/1.png", alt="")
                        .photos__item.second-img
                            a(href="./img/2.png", data-fancybox="gallery", data-caption="Caption #2") 
                                img(src="./img/2.png", alt="")
                        .photos__item.third-img
                            a(href="./img/3.png", data-fancybox="gallery", data-caption="Caption #3") 
                                img(src="./img/3.png", alt="")
                        .photos__item.fourth-img
                            a(href="./img/4.png", data-fancybox="gallery", data-caption="Caption #4") 
                                img(src="./img/4.png", alt="")
                        .photos__item.fiveth-img
                            a(href="./img/5.png", data-fancybox="gallery", data-caption="Caption #5") 
                                img(src="./img/5.png", alt="")
                        .photos__item.sixth-img
                            a(href="./img/6.png", data-fancybox="gallery", data-caption="Caption #6") 
                                img(src="./img/6.png", alt="")
                        
            script.
                Fancybox.bind('[data-fancybox]', {});
        include modules/footer