doctype html
html(lang="en")
    include modules/head
    title ShaareyTzedek
    body
        .header.c-white
            include modules/header
        include modules/banner
        .wrapper
            include modules/our_projects
        .blur__background
            .wrapper
                include modules/info_block
        .wrapper
            include modules/news_block
            
        include modules/footer