doctype html
html(lang="en")
    include modules/head
    title ShaareyTzedek-about-us
    body
        .header.btn-black
            include modules/header
        .wrapper.wrapper-oth-p
            
            h1.block__naming ИНФОРМАЦИОННЫЙ ОТДЕЛ
            
            p.block_description Ежедневная работа по приёму документов, работа с базой данных и обращениями клиентов. Прием документов в информационном отделе с понедельника по четверг с 10.00 до 14.00. Также прислать документы, данные по пенсии и задать интересующие вопросы по оформлению документов можно по электронной почте 
                a(href="mailto:inform@tzedek.ru.") inform@tzedek.ru.
            
            .block__subnaming-half
                .line-under-naming
                h2.block__naming Памятка «Приём документов на учёт новых подопечных»
            
            .block__detail-image
                .image-item
                    .image
                        a(href="./img/document-1.png", data-fancybox="gallery", data-caption="") 
                            img(src="./img/document-1.png", alt="")
                    p.caption Нажмите для просмотра

            h1.block__naming ИНФОРМАЦИЯ ДЛЯ ПОДОПЕЧНЫХ
            .line-under-naming
            
            h2.block__naming Ежегодная регистрация

            .block__detail-image
                .image-item
                    .image
                        a(href="./img/document-2.png", data-fancybox="gallery", data-caption="") 
                            img(src="./img/document-2.png", alt="")
                    p.caption Нажмите для просмотра
                .image-item
                    .image
                        a(href="./img/document-3.png", data-fancybox="gallery", data-caption="") 
                            img(src="./img/document-3.png", alt="")
                    p.caption Нажмите для просмотра
            
            h2.block__naming Информация по Клеймс Конференц 2023
            
            p.block_description
                p.block_description
                    | Уважаемые подопечные категории «Пострадал от нацизма»
                    br
                    br
                    | В связи с поступившей от Claims Conference информацией В 2023 году Вас ожидает дополнительная компенсационная выплата от фонда Hardship в размере 1200 евро. Будьте внимательны, вам не нужно будет заполнять новую форму заявки. Однако потребуется пройти онлайн-процедуру подтверждения личности, которая называется PANEEM
                    br
                    br
                    | В настоящее время Claims Conference может осуществлять денежные переводы заявителям, проживающим в России, только на счета в евро в Райффайзен Банке. В данный момент Claims Conference не может осуществлять переводы денежных средств в какие-либо другие банки в России или в любой другой валюте. Если у Вас есть счет в евро в этом банке, пожалуйста, предоставьте данные своего счета. Если у Вас нет счета в евро в Райффайзен Банке, сообщите, как только Вы решите его открыть, чтобы Claims Conference мог произвести эту выплату. В качестве альтернативы Claims Conference может осуществить платеж на Ваш счет в нероссийском банке, расположенном за пределами России.
                    br
                    br
                    | Что рекомендовано сделать:
                    br
                    br
                    | 1. Получить выписку о реквизитах открытого евро счета в Райффайзен Банк (обратите внимание, чтобы ваша фамилия в реквизитах была на английском языке);
                    br
                    | 2. Найти предыдущие письма от Claims Conference с регистрационным номером (пример: #66ХХХХХ);
                    br
                    | 3. Пройти верификацию (подтверждение жизни) через приложение PANEEM:
                    br
                    | 3.1. https://apps.apple.com/ru/app/paneem/id1576343525 для IOS;
                    br
                    | 3.2. https://play.google.com/store/apps/details?id=com.paneem&amp;pli=1 для Android;
                    br
                    | 3.3. или сайт https://paneem.claimscon.org/.
                    br
                    | 4. На самой выписке о реквизитах открытого евро счета указать регистрационный номер, ФИО, подпись и дату подписи. Направить фото данного счета (с подписями) хорошего качества или скан на электронную почту bankforms@claimscon.org в теме письма указать регистрационный номер.
                    br
                    br
                    | Если Вы самостоятельно или при помощи родственников не можете пройти верификацию, убедительная просьба обратиться в Хесед за помощью, со следующими документами:
                    br
                    br
                    | 
                    | 1. Выписка о реквизитах открытого валютного-евро счета в Райфайзен банке;
                    br
                    | 2. Письмо от Claims Conference с регистрационным номером (пример: #66ХХХХХ);
                    br
                    | 3. Паспорт.
            
            a.btn.btn-primary#btn-instruction(href="#") Инструкция PANEEM 2023

            script.
                Fancybox.bind('[data-fancybox]', {});
        include modules/footer