header
    .header-wrapper
        .header__logo
            img(src="./img/logo.png", alt="")
        .header__nav
            nav
                ul
                    li
                        a(href="/src") Новости
                    li
                        a(href="/src") Благотворительность
                    li
                        a(href="/src/about_us.html") О нас
                    li
                        a(href="/src") Галлерея
                    li
                        a(href="/src") Пожертвования
                    li
                        a(href="/src/contacts.html") Контакты
                    li
                        a(href="/src") Сотрудникам
                    li#btn-phone.btn.btn-white +7(499)75-47-770