
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    //- MAIN CSS
    link(rel="stylesheet", href="./styles/reset.css")
    link(rel="stylesheet", href="./styles/main.css")
    link(rel="stylesheet", href="./styles/burger_menu.css")

    //- JQUERY-LOCAL
    script(src="./js/jquery.min.js")

    //- SWIPER
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    
    //- FANCYBOX-CDN
    //- link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css")
    //- script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
    
    //- FANCYBOX-LOCAL
    link(rel="stylesheet", href="./styles/fancybox.css")
    script(src="./js/fancybox.umd.js") 
