doctype html
html(lang="en")
    include modules/head
    title ShaareyTzedek
    body
        .header.btn-black
            include modules/header
        .wrapper.wrapper-oth-p
            h1.block__naming О НАС
            .line-under-naming
        include modules/footer