doctype html
html(lang="en")
    include modules/head
    title ShaareyTzedek-about-us
    body
        .header.btn-black
            include modules/header
        .wrapper.wrapper-oth-p
            h1.block__naming КОНТАКТЫ
            .line-under-naming
            h2.block__naming ГДЕ МЫ НАХОДИМСЯ

            .block__map
                script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A18fd86f5e3932677faef3446bc1d69201992b1cb3f7fb69daab036d864fd7785&amp;width=683&amp;height=341&amp;lang=ru_RU&amp;scroll=true;apikey=8c1db09f-daa0-4c5b-a067-79bbb163d678")

        include modules/footer